@charset "utf-8";
/* CSS Document */
#email
		{
			text-decoration: none;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: dimgrey;
		}
	#navi
		{
			
			
			background-color:brown; 
			width:25%;	
			
		}
		#navi1
		{
			
			background-color:brown; 
			width:25%;	
			
			
		}
		#navi1:hover
		{
			transform: scale(1.1);
			
		}
		#navi2:hover
		{
			transform: scale(1.1);
		}
		#navi3:hover
		{
			transform: scale(1.1);
		}
		#navi:hover
		{
			transform: scale(1.1);
		}
		#navi2
		{
			
			background-color:brown; 
			width:25%;	
			
		    
			
		}
		#navi3
		{
			
			background-color:brown; 
			width:25%;	
			
		}
		.link
		{
			text-decoration: none;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			
			color:aliceblue;
		}
		.linkB
		{
			text-decoration: none;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			
			color:black;
		}
		.linkO
		{
			text-decoration: none;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			
			color:black;
		}
		
		.element {
   
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			font-size: 14px;
			padding-top: 50px;
			color: aliceblue;
}
		
		
		.meni
		{
			
			width:25%;
			align-self: center;
			background-color: brown;
		}
		body
		{
			border: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
		}
		.bio
		{
			
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			margin-top: 10px;
			margin-bottom: 10px;
			background-color: #1F80AF;
			font-size: 7px;
		}
		.meni1
		{
			
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
		box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
			margin-top: 0px;
			margin-bottom: 10px;
			background-color: brown;
			font-size: 14px;
			position: fixed;
			width: 100%;
			
		
			
		}
		
		.bio:hover{
		transform: scaleY(1.3);
			font-size: 11px;
		}
		.projectsBlue
		{
			box-shadow: 0px 2px 4px rgba(0, 0, 0, .8);
			width:33%;
			height: 200px;
			background-color:#1F80AF;
			border: none;
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
			align-self: left;
		}
		.projectsOrange
		{
			box-shadow: 0px 2px 4px rgba(0, 0, 0, .9);
			background-color:brown;
			align-self: left;
			width: 33%;
			height: 200px;
			border: none;
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
		}
		.projectsOrange:hover
		{
			transform: scale(1.03);
		}
			.projectsBlue:hover
		{
			transform: scale(1.03);
		}
		.linkB:hover
		{
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
		}
		.linkO:hover
		{
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
		}
		#skillTable
		{
			
			height: 250px;
			border: none;
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
			
		
		}
		.skill
		{
		background-color:lightslategray;
			max-width: 70%;
		}
		#about
		{
			width: 80%;
			padding-left: 40px;
			padding-right: 40px;
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
			background-color:brown;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, .9);
		}
		#pretplata
		{
		    width: 70%;
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
			height: 70px;
		}
		#potvrda
		{
			background-color:#ff5a00;
			border: none;
			
			
			font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
			color: aliceblue;
			
		}
		#potvrda:hover
		{
			background-color:#1F80AF;
		}
